@model CatalogProductsModel

@if (!string.IsNullOrEmpty(Model.WarningMessage))
{
    <div class="warning">
        @Model.WarningMessage
    </div>
}
@{
    var pager = Html.Pager(Model)
        .QueryParam("pagenumber")
        .FirstPageCssClass("button")
        .LastPageCssClass("button")
        // for search page
        .BooleanParameterName("advs")
        .BooleanParameterName("isc")
        .BooleanParameterName("sid")
        .RenderEmptyParameters(true);
}


@if (Model.Products.Count > 0)
{
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
             aria-labelledby="pills-home-tab">
            <div class="mt-shop-@(Model.ViewMode == "list" ? "list" : "grid"))-wrapper">
                <div class="row">
                    @foreach (var product in Model.Products)
                    {
                        if (Model.ViewMode == "list")
                        {
                            @await Html.PartialAsync("_CatalogProductBox.List", product)
                        }else
                        {
                            @await Html.PartialAsync("_CatalogProductBox.Grid", product)
                        } 
                    }
                </div>

                <!--pagination  -->
                @if (!await pager.IsEmpty())
                {
                    <div class="mt-pagination-wrap d-flex align-items-center justify-content-end mt-20 flex-wrap">
                         
                        <div class="mt-pagination mb-20">
                            @pager
                          
                        </div>
                        @* @if (Model.AllowCustomersToSelectPageSize)
                        {
                            <div class="mt-pagination-sort mb-20">
                                <div class="ddd">
                                    <span>Show</span>
                                </div>
                                @Html.DropDownList("products-pagesize-2", Model.PageSizeOptions, new { aria_label = T("Catalog.PageSize.Label") })
                            </div>
                             
                            <script asp-location="Footer">
                                $(function() {
                                    var $pageSizeEl = $('#products-pagesize-2');
                                    $pageSizeEl.on('change', function () {
                                        CatalogProducts.getProducts();
                                    });

                                    $(CatalogProducts).on('before', function (e) {
                                        e.payload.urlBuilder
                                            .addParameter('pagesize', $pageSizeEl.val());
                                    });
                                });
                            </script>
                        }
     *@                   
                    </div> 
                }

                <script asp-location="Footer">
                    $(function () {
                        var $pager = $('.mt-pagination');
                        if (!$pager.length) {
                            return;
                        }
                        $pager.find('ul').addClass('pagination justify-content-end');
                        $pager.find('li').addClass('page-item');
                        $pager.find('li.active').addClass('active');
                        $pager.find('li.disabled').addClass('disabled');
                        $pager.find('a').addClass('page-link');
                        $pager.find('span').addClass('page-link');
                    });
                </script>

            </div>
        </div> 
    </div>
}
else if (!string.IsNullOrEmpty(Model.NoResultMessage))
{
    <div class="no-result">
        @Model.NoResultMessage
    </div>
}
 
