@model IList<CategoryModel>
@inject IThemeContext themeContext
@using Nop.Core.Domain.Catalog
@{

    var themeName = await themeContext.GetWorkingThemeNameAsync();
}
@if (Model.Count > 0)
{ 
    <!-- Start Popular Product Area  -->
    <section class="mtpopular__product-area pt-55 pb-120 p-relative fix">
        <div class="mtpopular__product-shape-wrap">
            <div class="mtpopular__product-shape">
                <img src="~/Themes/@(themeName)/Content/img/shape/shape-1-1.png" alt="">
            </div>
            <div class="mtpopular__product-shape-2">
                <img src="~/Themes/@(themeName)/Content/img/shape/shape-1-2.png" alt="">
            </div>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="mt-section-content mb-45">
                        <h3 class="mt-section-title">
                            Popular
                            <span>Products</span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20"
                                     fill="none">
                                    <path d="M9 1.82196L10.429 6.82929L10.5619 7.29477L11.0314 7.17707L16.0824 5.91098L12.4604 9.65222L12.1237 10L12.4604 10.3478L16.0824 14.089L11.0314 12.8229L10.5619 12.7052L10.429 13.1707L9 18.178L7.57097 13.1707L7.43813 12.7052L6.9686 12.8229L1.91761 14.089L5.53957 10.3478L5.87627 10L5.53957 9.65222L1.91761 5.91098L6.9686 7.17707L7.43813 7.29477L7.57097 6.82929L9 1.82196Z"
                                          fill="#FDD057" stroke="#060121" />
                                </svg>
                            </span>
                        </h3>
                        <p>Our bestsellers! Discover the customer favorites that everyone's talking about.</p>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="mtpopular__product-wrapper mb-45  text-lg-end">
                        <div class="mtpopular__product-tab">
                            <ul class="nav nav-pills mb-3" id="popular-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="popular-home-tab" data-bs-toggle="pill"
                                            data-bs-target="#popular-home" type="button" role="tab" aria-controls="popular-home"
                                            aria-selected="true">
                                        View All
                                    </button>
                                </li>
                                @foreach (var item in Model)
                                {
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="popular-@item.Id-tab" data-bs-toggle="pill"
                                                data-bs-target="#popular-@item.Id" type="button" role="tab" aria-controls="popular-@item.Id"
                                                aria-selected="false">
                                            @item.Name
                                        </button>
                                    </li>
                                }
                                
                                 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mtpopular__product-wrapper">
                <div class="tab-content" id="popular-tabContent">
                    <div class="tab-pane fade show active" id="popular-home" role="tabpanel"
                         aria-labelledby="popular-home-tab">
                        <div class="cols">
                            @{
                                var homeProducts = Model.SelectMany(x => x.FeaturedProducts).DistinctBy(x => x.Id).ToList();
                            }
                            @foreach (var item in homeProducts)
                            {
                                @await Html.PartialAsync("_HomePageProductBox", item)
                            }
                        </div>
                    </div>

                    @foreach (var category in Model)
                    {
                        var products = category.FeaturedProducts.ToList();

                        <div class="tab-pane fade" id="popular-@category.Id" role="tabpanel" aria-labelledby="popular-@category.Id-tab">
                            <div class="cols">
                                @foreach (var item in products)
                                {
                                    @await Html.PartialAsync("_HomePageProductBox", item)
                                }
                            </div>
                        </div>
                    }

                    
                </div>
            </div>
        </div>
    </section>
    <!-- End Popular Product Area  -->
}