@inject IThemeContext themeContext
@using Nop.Core.Domain.Catalog
@{

    var themeName = await themeContext.GetWorkingThemeNameAsync();
}

<!-- Start Testimonial Area -->
<section class="mttestimonial__area mttestimonial__bg pt-80 pb-115 p-relative fix"
         data-background="Themes/@(themeName)/Content/img/testimonial/testimonial-bg.jpg">
    <div class="mttestimonial__shape-wrap ">
        <div class="mttestimonial__shape">
            <img src="~/Themes/@(themeName)/Content/img/testimonial/shape-1-1.png" alt="">
        </div>
        <div class="mttestimonial__shape-2">
            <img src="~/Themes/@(themeName)/Content/img/testimonial/shape-1-2.png" alt="">
        </div>
    </div>
    <div class="container">
        <div class="mt-section-content mb-30 text-center">
            <h3 class="mt-section-title">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none">
                        <path d="M9 1.82196L10.429 6.82929L10.5619 7.29477L11.0314 7.17707L16.0824 5.91098L12.4604 9.65222L12.1237 10L12.4604 10.3478L16.0824 14.089L11.0314 12.8229L10.5619 12.7052L10.429 13.1707L9 18.178L7.57097 13.1707L7.43813 12.7052L6.9686 12.8229L1.91761 14.089L5.53957 10.3478L5.87627 10L5.53957 9.65222L1.91761 5.91098L6.9686 7.17707L7.43813 7.29477L7.57097 6.82929L9 1.82196Z"
                              fill="#FDD057" stroke="#060121" />
                    </svg>
                </span>
                Clients<span>Testimonial</span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none">
                        <path d="M9 1.82196L10.429 6.82929L10.5619 7.29477L11.0314 7.17707L16.0824 5.91098L12.4604 9.65222L12.1237 10L12.4604 10.3478L16.0824 14.089L11.0314 12.8229L10.5619 12.7052L10.429 13.1707L9 18.178L7.57097 13.1707L7.43813 12.7052L6.9686 12.8229L1.91761 14.089L5.53957 10.3478L5.87627 10L5.53957 9.65222L1.91761 5.91098L6.9686 7.17707L7.43813 7.29477L7.57097 6.82929L9 1.82196Z"
                              fill="#FDD057" stroke="#060121" />
                    </svg>
                </span>
            </h3>
            <p>Hear what our satisfied customers have to say about their experience. Real people, real results.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="mttestimonial__wrapper p-relative pl-30 pr-30">
                    <div class="swiper mt-testimonial-active">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="mttestimonial__item p-relative fix text-center">
                                    <div class="mttestimonial__shape-wrap ">
                                        <div class="mttestimonial__shape-3">
                                            <img src="~/Themes/@(themeName)/Content/img/testimonial/shape-1-3.png" alt="">
                                        </div>
                                        <div class="mttestimonial__shape-4">
                                            <img src="~/Themes/@(themeName)/Content/img/testimonial/qoute.png" alt="">
                                        </div>
                                    </div>
                                    <div class="mttestimonial__ratting mb-20">
                                        <a href="#"><i class="fa-solid fa-star-sharp"></i></a>
                                        <a href="#"><i class="fa-solid fa-star-sharp"></i></a>
                                        <a href="#"><i class="fa-solid fa-star-sharp"></i></a>
                                        <a href="#"><i class="fa-solid fa-star-sharp"></i></a>
                                        <a href="#"><i class="fa-solid fa-star-sharp"></i></a>
                                    </div>
                                    <div class="mttestimonial__content">
                                        <p>
                                            oshun Grocery Shop is a fantastic local store! They have a <br> great selection
                                            of
                                            fresh produce, quality meats, and a wide <br> variety of pantry staples. The
                                            staff is
                                            friendly and helpful, <br> and the prices are reasonable.
                                        </p>
                                        <div class="mttestimonial__author mt-30 d-flex align-items-center justify-content-center">
                                            <div class="mttestimonial__author-img">
                                                <img src="~/Themes/@(themeName)/Content/img/testimonial/author.jpg" alt="">
                                            </div>
                                            <div class="mttestimonial__author-text">
                                                <h5 class="mttestimonial__author-title">Thomas Alison</h5>
                                                <span>CEO and Founder</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="mttestimonial__item p-relative fix text-center">
                                    <div class="mttestimonial__shape-wrap ">
                                        <div class="mttestimonial__shape-3">
                                            <img src="~/Themes/@(themeName)/Content/img/testimonial/shape-1-3.png" alt="">
                                        </div>
                                        <div class="mttestimonial__shape-4">
                                            <img src="~/Themes/@(themeName)/Content/img/testimonial/qoute.png" alt="">
                                        </div>
                                    </div>
                                    <div class="mttestimonial__ratting mb-20">
                                        <a href="#"><i class="fa-solid fa-star-sharp"></i></a>
                                        <a href="#"><i class="fa-solid fa-star-sharp"></i></a>
                                        <a href="#"><i class="fa-solid fa-star-sharp"></i></a>
                                        <a href="#"><i class="fa-solid fa-star-sharp"></i></a>
                                        <a href="#"><i class="fa-solid fa-star-sharp"></i></a>
                                    </div>
                                    <div class="mttestimonial__content">
                                        <p>
                                            oshun Grocery Shop is a fantastic local store! They have a <br> great selection
                                            of
                                            fresh produce, quality meats, and a wide <br> variety of pantry staples. The
                                            staff is
                                            friendly and helpful, <br> and the prices are reasonable.
                                        </p>
                                        <div class="mttestimonial__author mt-30 d-flex align-items-center justify-content-center">
                                            <div class="mttestimonial__author-img">
                                                <img src="~/Themes/@(themeName)/Content/img/testimonial/author-2.jpg" alt="">
                                            </div>
                                            <div class="mttestimonial__author-text">
                                                <h5 class="mttestimonial__author-title">Jonson Taylor</h5>
                                                <span>CEO and Founder</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="mttestimonial__item p-relative fix text-center">
                                    <div class="mttestimonial__shape-wrap ">
                                        <div class="mttestimonial__shape-3">
                                            <img src="~/Themes/@(themeName)/Content/img/testimonial/shape-1-3.png" alt="">
                                        </div>
                                        <div class="mttestimonial__shape-4">
                                            <img src="~/Themes/@(themeName)/Content/img/testimonial/qoute.png" alt="">
                                        </div>
                                    </div>
                                    <div class="mttestimonial__ratting mb-20">
                                        <a href="#"><i class="fa-solid fa-star-sharp"></i></a>
                                        <a href="#"><i class="fa-solid fa-star-sharp"></i></a>
                                        <a href="#"><i class="fa-solid fa-star-sharp"></i></a>
                                        <a href="#"><i class="fa-solid fa-star-sharp"></i></a>
                                        <a href="#"><i class="fa-solid fa-star-sharp"></i></a>
                                    </div>
                                    <div class="mttestimonial__content">
                                        <p>
                                            oshun Grocery Shop is a fantastic local store! They have a <br> great selection
                                            of
                                            fresh produce, quality meats, and a wide <br> variety of pantry staples. The
                                            staff is
                                            friendly and helpful, <br> and the prices are reasonable.
                                        </p>
                                        <div class="mttestimonial__author mt-30 d-flex align-items-center justify-content-center">
                                            <div class="mttestimonial__author-img">
                                                <img src="~/Themes/@(themeName)/Content/img/testimonial/author.jpg" alt="">
                                            </div>
                                            <div class="mttestimonial__author-text">
                                                <h5 class="mttestimonial__author-title">Thomas Alison</h5>
                                                <span>CEO and Founder</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="mttestimonial__arrow">
                        <div class="mttestimonial__arrow-next">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14"
                                     fill="none">
                                    <path d="M7.39367 0.820693C6.37396 5.14484 1.88 6.84235 1.46856 6.98943C1.4577 6.99331 1.45706 7.00855 1.4676 7.01347C1.87294 7.20245 6.37316 9.37583 7.39367 13.1793M14.54 7.00001L2.62943 7.00001"
                                          stroke="#060121" stroke-width="2" />
                                </svg>
                            </span>
                        </div>
                        <div class="mttestimonial__arrow-prev">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14"
                                     fill="none">
                                    <path d="M7.60633 13.1793C8.62604 8.85516 13.12 7.15765 13.5314 7.01057C13.5423 7.00669 13.5429 6.99145 13.5324 6.98653C13.1271 6.79755 8.62684 4.62417 7.60633 0.820679M0.459961 6.99999L12.3706 6.99999"
                                          stroke="#060121" stroke-width="2" />
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonial Area -->