@inject IThemeContext themeContext
@using Nop.Core.Domain.Catalog
@{

    var themeName = await themeContext.GetWorkingThemeNameAsync();
}

<!-- Start Banner area -->
<section class="mtbanner__area mtbanner__3 pb-50 pt-60 p-relative fix"
         data-background="Themes/@(themeName)/Content/img/banner/banner-bg-3-1.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-30 ">
                <div class="mtbanner__wrapper p-relative wow img-custom-anim-left" data-wow-duration="1.5s"
                     data-wow-delay="0.1s" data-background="Themes/@(themeName)/Content/img/banner/banner-3-1.png">
                    <div class="mtbanner__item wow img-custom-anim-left" data-wow-duration="1.5s"
                         data-wow-delay="0.5s">
                        <h5 class="mtbanner__subtitle mb-10">20% off</h5>
                        <h3 class="mtbanner__title mb-10">
                            Daily Breakfast Items &
                            Beverages
                        </h3>
                        <div class="mtbanner__btn mt-30">
                            <a href="shop.html">
                                Buy Now <span>
                                    <i class="fa-solid fa-circle-chevron-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-30 ">
                <div class="mtbanner__wrapper p-relative wow img-custom-anim-left" data-wow-duration="1.5s"
                     data-wow-delay="0.5s" data-background="Themes/@(themeName)/Content/img/banner/banner-3-2.png">
                    <div class="mtbanner__item wow img-custom-anim-left" data-wow-duration="1.5s"
                         data-wow-delay="0.5s">
                        <h5 class="mtbanner__subtitle mb-10">40% off</h5>
                        <h3 class="mtbanner__title mb-10">
                            Healthy organic dry
                            gains foods
                        </h3>
                        <div class="mtbanner__btn mt-30">
                            <a href="shop.html">
                                Buy Now <span>
                                    <i class="fa-solid fa-circle-chevron-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-30">
                <div class="mtbanner__wrapper p-relative wow img-custom-anim-left" data-wow-duration="1.5s"
                     data-wow-delay="0.9s" data-background="Themes/@(themeName)/Content/img/banner/banner-3-3.png">
                    <div class="mtbanner__item wow img-custom-anim-left" data-wow-duration="1.5s"
                         data-wow-delay="0.9s">
                        <h5 class="mtbanner__subtitle mb-10">30% Off</h5>
                        <h3 class="mtbanner__title mb-10">New Pet Arrivals Food & Accessories</h3>
                        <div class="mtbanner__btn mt-30">
                            <a href="shop.html">
                                Buy Now <span>
                                    <i class="fa-solid fa-circle-chevron-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner area -->