@inject IThemeContext themeContext
@model MenuModel
@{

    var themeName = await themeContext.GetWorkingThemeNameAsync();
}
@using Nop.Core.Domain.Menus;
<div class="mtheader__bottom-wrapper p-relative d-flex align-items-center justify-content-end justify-content-xxl-between">
    <div class="mtheader__bottom-menu d-none d-lg-block">
        <nav class="mt-mobile-menu-active">
            <ul>
                <li class="has-dropdown">
                    <a href="@Url.RouteUrl(NopRouteNames.General.HOMEPAGE)">Home</a>
                    <ul class="sub-menu mt-submenu">
                        <li><a href="index.html">Home One</a></li>
                        <li>
                            <a href="index-2.html">Home Two</a>
                        </li>

                    </ul>
                </li>
                <li><a href="about.html">About</a>
                <li class="has-dropdown">
                    <a href="#">Shop</a>
                    <ul class="sub-menu mt-submenu">
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="product-details.html">Prodcut Details</a></li>

                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">Pages</a>
                    <ul class="sub-menu mt-submenu">
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="faq.html">Faq</a></li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="team-details.html">Team Details</a></li>
                        <li><a href="product-details.html">Prodcut</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                    </ul>
                </li>

                <li class="has-dropdown">
                    <a href="#">Blog</a>
                    <ul class="sub-menu mt-submenu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-grid.html">Blog Grid</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>

                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="mtheader__bottom-right d-none d-xxl-block">
        <a href="tel:9112456859">Hotline: <span> +(00)91 1245 6859</span></a>
        <a href="shop.html" class="mt-btn mt-btn-sm">
            <i class="fa-solid fa-bolt"></i>FLASH
            SALE
        </a>

    </div>

    <div class="mtheader__mobile-cart d-lg-none mr-30">
        <div class="mtheader__midel-account-wrap p-relative d-flex align-items-center justify-content-between">
            <div class="mtheader__midel-login">
                <a href="login.html" class="mtheader__midel-login-inner">
                    <i class="fa-solid fa-user-plus" data-color="#fff"></i>
                </a>
            </div>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14"
                     fill="none">
                    <path d="M8.00011 0.21582L9.68397 5.39819H15.133L10.7246 8.60108L12.4085 13.7834L8.00011 10.5806L3.59172 13.7834L5.27558 8.60108L0.867188 5.39819H6.31626L8.00011 0.21582Z"
                          fill="#FDD057" />
                </svg>
            </span>
            <div class="mtheader__midel-login">
                <div class="mtcartmini-open-btn">
                    <div class="mtheader__midel-card-value">
                        <i class="fa-solid fa-basket-shopping" data-color="#fff"></i>
                        <p>2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-header-toogle d-lg-none text-end">
        <button class="mt-offcanvas-toogle"><i class="fa-regular fa-bars-staggered"></i></button>
    </div>
</div>
@* <script src="~/js/public.menu.js" asp-location="Footer"></script>
<script asp-location="Footer">
    mainMenu.init('.menu-container .menu__toggle, .menu-container .menu__item-toggle', 'menu-dropdown--active');
</script>


<nav class="menu-container menu-dropdown">
    <div class="closemenu">X</div>

    <div role="menu" class="menu @Model.CssClass" aria-labelledby="menu-@Model.Id">
        @foreach (var menuItem in Model.Items)
        {
            @if (menuItem.ChildrenItems.Any())
            {
                @switch (menuItem.Template)
                {
                    case MenuItemTemplate.Grid:
                        @await Html.PartialAsync("_MenuItem.Grid.cshtml", menuItem)
                        break;
                    default:
                        @await Html.PartialAsync("_MenuItem.List.cshtml", menuItem)
                        break;
                }
            }
            else
            {
                <div class="menu__item" role="menuitem">
                    @await Html.PartialAsync("_MenuItem.cshtml", menuItem)
                </div>
            }
        }
    </div>
    <div class="mobile-selector">
        @await Component.InvokeAsync(typeof(TaxTypeSelectorViewComponent))
        @await Component.InvokeAsync(typeof(CurrencySelectorViewComponent))
        @await Component.InvokeAsync(typeof(LanguageSelectorViewComponent))
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderSelectors })
    </div>
</nav> *@
