@using Nop.Web.Framework.Themes
@inject IThemeContext themeContext
@{
    Layout = ""; 
    var themeName = await themeContext.GetWorkingThemeNameAsync();
} 

<div class="mt-login-option-item">
    <a asp-controller="facebookauthentication" asp-action="login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" class="facebook-btn"> 
        <img src="~/Themes/@(themeName)/Content/img/contact/fb.svg" alt="">
        <span>Facebook</span>
    </a>
</div>